In [1]:
import pandas as pd
import numpy as np

In [4]:
#read data set

dataset = pd.read_csv('kdata.csv')
X = dataset.iloc[:,:-1]

y =dataset.iloc[:,2]
dataset

   x  y      class
0  2  4  Negative
1  4  6  Negative
2  4  4   Positive
3  4  2  Negative
4  6  4  Negative
5  6  2   Positive

In [5]:
X

   x  y
0  2  4
1  4  6
2  4  4
3  4  2
4  6  4
5  6  2

In [6]:
y

0    Negative
1    Negative
2     Positive
3    Negative
4    Negative
5     Positive
Name: class, dtype: object

In [9]:
#model building phase 

from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=3)
clf.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [10]:
#prediction 
X_test = np.array([6,6])
y_pred = clf.predict([X_test])
y_pred

array(['Negative '], dtype=object)

In [11]:
clf2 = clf = KNeighborsClassifier(n_neighbors=3,p=5,weights = 'distance')
clf2.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=5,
           weights='distance')

In [13]:
clf2.predict([[6,6]])

array(['Negative '], dtype=object)